In [1]:
import refinitiv.dataplatform.legacy as ek

In [2]:
ek.set_app_key('DEFAULT_CODE_BOOK_APP_KEY')

## SCREENER to Python

Article: [Find Your Right Companies with SCREENER | Eikon Data APIs(Python)](https://developers.refinitiv.com/en/article-catalog/article/find-your-right-companies-with-screener-eikon-data-apis-python).

### Screener Formula

**Excel Formula**: Contain both formula and fields
```
=@TR("SCREEN(U(IN(Equity(active,public,primary))/*UNV:Public*/), IN(TR.HQCountryCode,""CN""), TR.TRESGCScore(Period=FY0)>=50, CURN=USD)","TR.CommonName;TR.HeadquartersCountry;TR.TRESGCScore(Period=FY0)","curn=USD RH=In CH=Fd")
```

Which can be separated to Formula and Fields:

*Formula*
```
"SCREEN(U(IN(Equity(active,public,primary))/*UNV:Public*/), IN(TR.HQCountryCode,""CN""), TR.TRESGCScore(Period=FY0)>=50, CURN=USD)"
```
*Fields*
```
"TR.CommonName;TR.HeadquartersCountry;TR.TRESGCScore(Period=FY0)"
```

Change to **Python Syntax**: 
```
syntax = 'SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), TR.TRESGCScore>=50, CURN=USD)'
```
And **Python field**: 
```
fields = ['TR.CommonName', 'TR.HeadquartersCountry','TR.TRESGCScore']
```

In [4]:
syntax = 'SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), TR.TRESGCScore>=50, CURN=USD)'

fields = ['TR.CommonName', 'TR.HeadquartersCountry','TR.TRESGCScore']

In [5]:
df, err = ek.get_data(syntax, fields)
df

,Instrument,Company Common Name,Country of Headquarters,ESG Combined Score
0,000686.SZ,Northeast Securities Co Ltd,China,51.758376
1,000050.SZ,Tianma Microelectronics Co Ltd,China,59.746487
2,000598.SZ,Chengdu Xingrong Environment Co Ltd,China,57.489195
3,600115.SS,China Eastern Airlines Corp Ltd,China,59.762340
4,000750.SZ,Sealand Securities Co Ltd,China,50.463987
...,...,...,...,...
166,1797.HK,Koolearn Technology Holding Ltd,China,58.547991
167,3692.HK,Hansoh Pharmaceutical Group Company Ltd,China,53.108635
168,688185.SS,CanSino Biologics Inc,China,51.345262
169,1951.HK,Jinxin Fertility Group Ltd,China,54.835144
170,6049.HK,Poly Property Services Co Ltd,China,51.012090

Or you can add more fields data to that you are interesting.

In [8]:
# TR.TRESGScore = ESGScore, TR.TRESGCControversiesScore = ESG Controversies Score, TR.TRESGCScoreGrade = ESG Combined Score Grade
fields = ['TR.CommonName', 'TR.HeadquartersCountry','TR.TRESGCScore', 'TR.TRESGScore', 'TR.TRESGCControversiesScore', 'TR.TRESGCScoreGrade']

In [9]:
df, err = ek.get_data(syntax, fields)
df

,Instrument,Company Common Name,Country of Headquarters,ESG Combined Score,ESG Score,ESG Controversies Score,ESG Combined Score Grade
0,000686.SZ,Northeast Securities Co Ltd,China,51.758376,51.758376,100.000000,B-
1,000050.SZ,Tianma Microelectronics Co Ltd,China,59.746487,59.746487,100.000000,B
2,000598.SZ,Chengdu Xingrong Environment Co Ltd,China,57.489195,57.489195,100.000000,B-
3,600115.SS,China Eastern Airlines Corp Ltd,China,59.762340,59.762340,100.000000,B
4,000750.SZ,Sealand Securities Co Ltd,China,50.463987,50.463987,100.000000,B-
...,...,...,...,...,...,...,...
166,1797.HK,Koolearn Technology Holding Ltd,China,58.547991,58.762648,58.333333,B
167,3692.HK,Hansoh Pharmaceutical Group Company Ltd,China,53.108635,53.108635,100.000000,B-
168,688185.SS,CanSino Biologics Inc,China,51.345262,51.345262,100.000000,B-
169,1951.HK,Jinxin Fertility Group Ltd,China,54.835144,54.835144,100.000000,B-
170,6049.HK,Poly Property Services Co Ltd,China,51.012090,51.012090,100.000000,B-

### With Combined Score Grade A

**Excel Formula**
```
=@TR("SCREEN(U(IN(Equity(active,public,primary))/*UNV:Public*/), IN(TR.HQCountryCode,""CN""), TR.TRESGCScore(Period=FY0)>=50, Contains(TR.TRESGCScoreGrade(Period=FY0),""A""), CURN=USD)","TR.CommonName;TR.HeadquartersCountry;TR.TRESGCScore(Pe"&"riod=FY0);TR.TRESGCScoreGrade(Period=FY0)","curn=USD RH=In CH=Fd")
```

**Python Syntax**
```
syntax = 'SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), TR.TRESGCScore>=50, Contains(TR.TRESGCScoreGrade,"A"), CURN=USD)'
```

In [10]:
syntax = 'SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), TR.TRESGCScore>=50, Contains(TR.TRESGCScoreGrade,"A"), CURN=USD)'

In [11]:
df, err = ek.get_data(syntax, fields)
df

,Instrument,Company Common Name,Country of Headquarters,ESG Combined Score,ESG Score,ESG Controversies Score,ESG Combined Score Grade
0,900948.SS,Inner Mongolia Yitai Coal Co Ltd,China,75.546489,75.546489,100,A-
1,2018.HK,AAC Technologies Holdings Inc,China,75.059376,75.059376,100,A-
2,601628.SS,China Life Insurance Co Ltd,China,78.171535,78.171535,100,A-
3,2007.HK,Country Garden Holdings Co Ltd,China,79.080137,79.080137,100,A-
4,601919.SS,COSCO SHIPPING Holdings Co Ltd,China,77.715157,77.715157,100,A-
5,601012.SS,LONGi Green Energy Technology Co Ltd,China,76.482583,76.482583,100,A-
6,6160.HK,Beigene Ltd,China,77.399632,77.399632,100,A-

### With Combined Score Grade A or B

**Excel Formula**
```
=@TR("SCREEN(U(IN(Equity(active,public,primary))/*UNV:Public*/), IN(TR.HQCountryCode,""CN""), TR.TRESGCScore(Period=FY0)>=90, Contains(TR.TRESGCScoreGrade(Period=FY0),""A"") OR Contains(TR.TRESGCScoreGrade(Period=FY0),""B""), CURN=USD)","TR."&"CommonName;TR.HeadquartersCountry;TR.TRESGCScore(Period=FY0);TR.TRESGCScoreGrade(Period=FY0)","curn=USD RH=In CH=Fd")
```

**Python Syntax**
```
syntax ='SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), TR.TRESGCScore>=90, Contains(TR.TRESGCScoreGrade,"A") OR Contains(TR.TRESGCScoreGrade,"B"), CURN=USD)'
```

In [14]:
syntax ='SCREEN(U(IN(Equity(active,public,primary))), IN(TR.HQCountryCode,"CN"), '\
    'TR.TRESGCScore>=50,'\
    'Contains(TR.TRESGCScoreGrade,"A") OR Contains(TR.TRESGCScoreGrade,"B"),'\
    'CURN=USD)'

In [15]:
df, err = ek.get_data(syntax, fields)
df

,Instrument,Company Common Name,Country of Headquarters,ESG Combined Score,ESG Score,ESG Controversies Score,ESG Combined Score Grade
0,000686.SZ,Northeast Securities Co Ltd,China,51.758376,51.758376,100.000000,B-
1,000050.SZ,Tianma Microelectronics Co Ltd,China,59.746487,59.746487,100.000000,B
2,000598.SZ,Chengdu Xingrong Environment Co Ltd,China,57.489195,57.489195,100.000000,B-
3,600115.SS,China Eastern Airlines Corp Ltd,China,59.762340,59.762340,100.000000,B
4,000750.SZ,Sealand Securities Co Ltd,China,50.463987,50.463987,100.000000,B-
...,...,...,...,...,...,...,...
166,1797.HK,Koolearn Technology Holding Ltd,China,58.547991,58.762648,58.333333,B
167,3692.HK,Hansoh Pharmaceutical Group Company Ltd,China,53.108635,53.108635,100.000000,B-
168,688185.SS,CanSino Biologics Inc,China,51.345262,51.345262,100.000000,B-
169,1951.HK,Jinxin Fertility Group Ltd,China,54.835144,54.835144,100.000000,B-
170,6049.HK,Poly Property Services Co Ltd,China,51.012090,51.012090,100.000000,B-